[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/tenthousandrpm/realworld-react-fsd.git
[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/tenthousandrpm/realworld-django-ninja.git
