[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/yurisldk/realworld-react-fsd
[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/c4ffein/realworld-django-ninja
